.dropdown {
  float: left;
  &__title {
    color: $secondary;
    font-size: 1rem;
  }
  &__select {
    color: $secondary;
    border: 1px solid $secondary;
    border-radius: 0.25rem;
    padding-left: 5px;
  }
  &__option {
    color: $blue;
  }
}